:root {
  --teal: #0C3E77;
  --teal_hover:  #002B5B;
}

.f1{
    
    font-family: 'Poppins', sans-serif;

}

.f2{
    font-family: 'Merienda', cursive;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.custom-bg{
  background-color:var(--teal) ;
  border: 1px solid var(--teal);
}

.custom-bg:hover{
  background-color: var(--teal_hover);
  border-color: var(--teal_hover) ;
}

.Events{
    font-weight:normal;
    font-size: 28px;
    text-align: center;
  }

  .column{
    padding-bottom: 5px;
    padding-top: 0px;
  }
  
  .column img {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    padding:15px;
  }
  
  .column img:hover {
      -webkit-transform: scale(1.3);
      transform: scale(1.1);
      
  }

  .column1 img{
    padding: 0 80px;
   }
  
  .column2 img{
  padding:0 90px
  }

  .button-hall{
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    color: black;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding: 14px 22px 14px;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-hall:hover{
    background-color: 002B5B;
    color: white;
    border: 1px solid white;
  }

  .text1{
    position: relative;
    overflow: hidden;
    color: black;
    display: inline-block;
    font-weight: normal;
    line-height: 15px;
    padding: 2px 22px 14px;
    text-decoration: none;
    font-family:Comic Sans MS;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    
  }

  .h-line{
    width : 150px;
    margin: 0 auto;
    height: 1.7px;
    
  }

.navbar{
 background-color: #012e62;
  font-size:17px;
 }

.container-fluid1{
   background-color: #012e62;
}

.custom-alert{
  position: fixed;
  top:25px;
  right:25px;
  z-index:1111;

}

.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}